@page "/admin/students"
@using IIT.Client.Shared.Components
@inject IMemberHandler _memberService

<div class="card">
    <div class="card-header">
        <h5>
            Students
        </h5>
    </div>
    <div class="card-body">
        <MatTextField Label="Search"
                      Icon="@MatIconNames.Search"
                      FullWidth="true"
                      IconTrailing="true"
                      @bind-Value="SearchText"/>
        <StudentsView Students="Students"/>
    </div>
</div>

@code{
        List<DBUser> Students { get; set; } = new List<DBUser>();
        bool IsBusy { get; set; }
        string _search = string.Empty;
        string SearchText
    {
            get => _search;
            set => SearchAction(value);
        }

        protected override async Task OnInitializedAsync()
    {
        IsBusy = true;
        Students = await _memberService.SearchStudents("");
        IsBusy = false;
        this.StateHasChanged();
    }

    private async void SearchAction(string data)
    {
        _search = data;
        if (!string.IsNullOrWhiteSpace(data) && data.Length > 0)
        {
            while (IsBusy) await Task.Delay(1000);
            IsBusy = true;
            Students = await _memberService.SearchStudents(data);
            IsBusy = false;
            this.StateHasChanged();
        }
    }
}